.cgc-dropdown {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 0.8em;
    font-weight: 700;
    line-height: 1;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    color: #434343;
}

.cgc-dropdown--small {
    padding: 10px 16px;
    font-size: 12px;
}
.cgc-dropdown--medium {
    padding: 11px 20px;
    font-size: 14px;
}
.cgc-dropdown--large {
    padding: 12px 24px;
    font-size: 16px;
}

.cgc-dropdown--full {
    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
}

.cgc-dropdown--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.cgc-dropdown:focus-visible {
    outline: 2px solid #4d53b8;
    outline-offset: 2px;
}

.cgc-dropdown:disabled {
    cursor: not-allowed;
}