.cgc--story-decorator {
    padding: 3rem;
  }

  .cgc--story-container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 0.8em;
  }

  .cgc--story-accessibility-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }

  .cgc--story-accessibility-text {
    font-size: 12px;
    color: #666;
    text-align: center;
  }