.cgc-stack {
    display: flex;
    border: 0;
    border-radius: 0.2em;
    gap: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
}

.cgc-stack--horizontal {
    flex-direction: row;
}

.cgc-stack--vertical {
    flex-direction: column;
}